@font-face{
    font-family: 'Segoe UI';
    src: url('../fonts/segoeui.ttf');
}

@font-face{
    font-family: 'Keep Calm';
    src: url('../fonts/KeepCalm-Medium.ttf');
}

p{
  font-size: 1.1em;
}

.content ul li{
  font-size: 1.1em;
}

html, body{
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

hr{
  border-color: white;
}

body{
    /*font-family: 'Segoe UI';*/
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;

}

#anchor span{
  font-size: 1em;
}

#anchor [class*="col-"] p{
  font-size: 0.9em;
  margin-top: 10px;
}

.safm-blue{
  background: linear-gradient(to bottom right, rgba(0, 62, 154, 0.8), #33CDFF), url('../img/logo.png') no-repeat center;
  background-size: cover;
  color: white;
}

.safm-green{
  background-color: #43bc9a;
  color: white;
}

.safm-darkblue{
  background-color: rgb(0, 62, 154);
  color: white;
}

.safm-gray{
  background: linear-gradient(to bottom right, rgba(0,0,0,0.8), #585858), url('../img/gray-logo.png') no-repeat center;
  background-size: cover;
  color: white;
}

.safm-white{
  background-image: linear-gradient(to bottom right, lightgray, white);
  color: black;
}

.safm-gold{
  background-color: #EAEB14;
  color: white;
}

.gray{
  background-color: gray;
  color: white;
}

#values [class*="col-"] p{
    font-size: 0.9em;
}

#the-team p{
  text-align: left;
}

#the-team img{
  width: 80%;
}

a:hover{
    color: black;
    text-decoration: none;
}


.custom-btn{
    border: 1px solid white;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    display: inline-block;
    background: transparent;
}

.custom-btn:hover{
  color: darkgray;
  border-color: darkgray;
}


.img-responsive{
    width: 100%;
    height: auto;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.banner a, .banner a:hover{
    color: white;
}

.banner-text{
    text-align: center;
}

.banner-title{
    font-size: 3.5em;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    max-width: 50rem;
}

.banner-subtext{
    font-weight: lighter;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 15px;
    max-width: 50rem;
    margin: auto;
}

.ct-btn-scroll {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -25px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;

    -webkit-animation: flash infinite 2s;
    animation: flash infinite 2s;
}

@-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}

.content{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.content-heading{
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 70%;
    margin-left: 15%;
}

.elegant-color, .elegant-color span{
  color: white;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

[class*="col-"]{
  padding-top: 30px;
  padding-bottom: 30px;
}

#contact [class*="col-"]{
  padding-top: 0px;
}

.profile{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profile .card-title{
  color: black;
}

.img-container{
  width: 18vh;
  height: 18vh;
  margin: 0 auto;
}

.img-container img{
  width: 70%;
}


#hero{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/hero_banner.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
    color: white;
}

.img-wrapper{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

#teamwork{
  background: url('../img/services/teamwork.png') no-repeat center;
  background-color: gray;
  background-size:10vh 10vh;
}

#focus{
  background: url('../img/services/focus.png') no-repeat center;
  background-color: gray;
  background-size:10vh 10vh;
}

#innovation{
  background: url('../img/services/innovation.png') no-repeat center;
  background-color: gray;
  background-size:10vh 10vh;
}

#respect{
  background: url('../img/services/respect.png') no-repeat center;
  background-color: gray;
  background-size:10vh 10vh;
}

#expertise .img-container img{
  width: 100%;
}

.col-heading{
    text-align: center;
    font-weight: bold;
}

#about-us{
    color: white;
}

#values span{
    font-size: 1.1em;
}

.contact a{
  color: white;
}

.service .content-heading{
  width: 100%;
  margin: auto;
}

.service .content-heading, .service p, .service ul li{
  text-align: left;
}

.section-text p, .section-text ul li{
  width: 60%;
  margin-left: 20%;
  text-align: justify;
}

#map-container{
    height: 600px !important;
}

@media (max-width: 1024px){
    .banner-title{
        font-size: 2em;
    }

    .banner-subtext{
        font-size: 1em;
    }

    .banner-subtext ul{
        font-size: 0.5em;
    }

    .content-heading, .section-text p, .section-text ul li{
      width: 100%;
      margin-left: auto;
    }

    .img-container{
      width: 10vh;
      height: 10vh;
    }

}


@media (max-width:599px){
    .service .content-heading{
      width: 100%;
      text-align: center;
    }

    p, .content ul li{
      font-size: 0.9em;
    }

    .img-container{
      width: 18vh;
      height: 18vh;
    }
}

@media (max-width: 568px){
   .banner-title{
    font-size: 1.6em;
  }
  .content-heading{
    font-size: 1.2em;
  }
}

@media (max-width: 320px){
  .banner-title{
    font-size: 1.5em;
  }

  .banner-subtext{
    font-size: 0.8em;
  }

  .content-heading{
    font-size: 1.2em;
  }

  h7{
    font-size: 0.8em;
  }

  h8{
    font-size: 0.7em;
  }

  [class*="col-"]{
    padding-top: 0px;
  }

  #contact [class*="col-"] div{
    font-size: 0.7em;
  }
}
