@font-face{
    font-family: 'Segoe UI';
    src: url('segoeui.ttf');
}

@font-face{
    font-family: 'Keep Calm';
    src: url('KeepCalm-Medium.ttf')
}

body, html{
    font-family: 'Segoe UI';
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

p{
    text-align: center;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.is_blue{
    background-color: rgb(0, 62, 154);
    color: white;
}

.custom-heading{
    font-size: 2em;
    text-align: center;
    padding-bottom: 5px;
}

nav{
    font-size: 1em;
    background-color: white;
    font-family: 'Keep Calm';
    font-size: 0.7em;
}

nav #navCollapse ul li a{
    color: black;
    text-decoration: none;
}

#logo{
    color: rgb(0, 102, 255);
    -webkit-text-stroke-width: 0.5px;
    -moz-text-stroke-width: 0.5px;
    -ms-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    -moz-text-stroke-color: black;
    -ms-text-stroke-color: black;
}

.navbar-brand{
    font-size: 2em;
}

#hero{
    background-color: grey;
    padding-bottom: 0;
    padding-top: 50px;
}

#our_people .details{
    font-size: 0.7em;
    text-align: center;
}

#our_people .details .col-heading{
    font-size: 1.2em;
}

#services ul{
    width: 65%;
    margin-left: 17.5%;
    list-style: none;
}

#services ul li{
    font-size: 1em;
}

#services ul li:before {
    content: '✓ ';
    font-weight: bold;
    color: rgb(0, 62, 154);
}

#services .logo-container{
    text-align: center;
}

#services .logo-container img{
    width: 10em;
    height: 10em;
}

.col-heading{
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.img-wrapper{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    margin: 0 auto;
}

.details{
    margin-bottom: 10px;
}

#sector1{
    background: url('../img/Sector icons/Black and white/higher education .png') no-repeat;
    background-size: cover;
}

#sector2{
    background: url('../img/Sector icons/Black and white/aged care.png') no-repeat;
    background-size: cover;
}

#sector3{
    background: url('../img/Sector icons/Black and white/Government .png') no-repeat;
    background-size: cover;
}

#sector4{
    background: url('../img/Sector icons/Black and white/Health .png') no-repeat;
    background-size: cover;
}

#sector5{
    background: url('../img/Sector icons/Black and white/not for profit .png') no-repeat;
    background-size: cover;
}

#sector6{
    background: url('../img/Sector icons/Black and white/private sector.png') no-repeat;
    background-size: cover;
}

#profile1{
    background: url('../img/Mick.jpg') no-repeat;
    background-size: cover;
}

#profile2{
    background: url('../img/lisa.jpg') no-repeat;
    background-size: cover;
}

#profile3{
    background: url('../img/Wayne.jpg') no-repeat;
    background-size: cover;
}

#profile4{
    background: url('../img/Ami.jpg') no-repeat;
    background-size: cover;
}

#profile5{
    background: url('../img/Teifi.jpg') no-repeat;
    background-size: cover;
}

#profile6{
    background: url('../img/Phill.jpg') no-repeat;
    background-size: cover;
}

#profile7{
    background: url('../img/Nicole.jpg') no-repeat;
    background-size: cover;
}

#contact a{
    color: black;
}

#footer{
    margin-top: auto;
    font-size: 1em;
    text-align: center;
    background-color: black;
    color: white;
}

#map{
    max-width: 100%;
    display: block;
    height: 34em;
}

.hero{
    position: relative;
    float: left;
}

.hero-text{
    font-family: 'Keep Calm';
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero img{
    width: 100%;
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    -ms-filter: brightness(0.5);
}

.hero-text .hero-heading{
    font-size: 250%;
}

.hero-text .sub-text{
    font-size: 1.5em;
}

.hero-text .sub-text p{
    text-align: left;
    font-size: 120%;
}

/************* MEDIA QUERIES *****************/

/* IPhone X Portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    #services ul{
        width: 100%;
        margin-left: 0;
    }
    #services ul li{
        font-size: 1em;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
  
}

/* IPhone 5/5S Portrait */
@media only screen 
and (max-device-width : 320px) 
and (orientation : portrait) {

}

@media only screen 
and (max-device-width : 360px) 
and (orientation : portrait) {

}

/* IPad Pro*/
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) 
and (orientation: portrait){

}

@media only screen 
and (min-device-width: 768px)
and (max-device-width: 1023px)
and (orientation: portrait){
    
    #services ul{
        width: 80%;
        margin-left: 10%;
    }
}

@media all and (max-width: 768px){
    .hero-text .hero-heading{
        font-size: 100%;
    }
    
    .hero-text .sub-text{
        font-size: 0.8em;
    }
}
